* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-light: #dcf1ff;
  --bg-color-dark: #272343;
  --bg-color-section: #fffe;
  --text-color-light: #2d334a;
  --text-color-dark: #e4e6f2;
  --save-color: hsl(163, 94%, 24%);
  --save-color-dark: hsl(163, 94%, 14%);
  --delete-color: hsl(0, 74%, 42%);
  --delete-color-dark: hsl(0, 74%, 32%);
  --new-color: hsl(0, 0%, 34%);
  --new-color-dark: hsl(0, 0%, 24%);

  font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color-light);
  background-color: var(--bg-color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 2em;
  height: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: "Poppins", sans-serif;
  color: var(--text-color-light);
  font-weight: bold;
}

.template-disclaimer {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 600px;
}

.form-section,
.item-container {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: var(--bg-color-section);
  border-radius: 10px;
}

.item-container {
  padding: 0 1em 1em 1em;
}

.item {
  max-width: 500px;
  width: 400px;
}

.expand-button,
.expand-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-section);
  border: 0;
  cursor: pointer;
}

.expand-button {
  margin-bottom: 10px;
}

.expand-button > h2 {
  margin-left: 1em;
}

.expand-item {
  text-align: center;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.expand-item > h3 {
  color: var(--text-color-dark);
}

.form-section-body {
  padding-bottom: 10px;
}

.form-section-body,
.item-body {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.item-body {
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 1em;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.hide {
  display: none;
}

form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 10px;
}

.cv-result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: var(--bg-color-dark) solid 1px;
  width: 700px;
  min-height: fit-content;
}

.education-info,
.work-info {
  display: grid;
  margin-bottom: 2em;
  grid-template-columns: 20% 1fr;
  gap: 2em;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.cv-header {
  text-align: center;
  color: var(--bg-color-section);
  align-self: center;
  background-color: var(--bg-color-dark);
  width: 100%;
}

.cv-body {
  padding: 0px 20px 1em 20px;
}

.cv-header > h1 {
  color: var(--bg-color-section);
  font-size: 54px;
}

.cv-section-header {
  border-bottom: var(--bg-color-dark) solid 1px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.cv-education {
  margin-bottom: 2em;
}

.cv-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5px;
}

.cv-contact > p {
  display: flex;
  align-items: center;
  gap: 5px;
}

legend {
  font-size: 24px;
  padding: 0px 5px 0px 5px;
}

label {
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 1em;
  padding: 7px;
  max-width: 50%;
  border-radius: 5px;
  border: 1px solid var(--new-color);
}

textarea {
  width: 50%;
  max-width: 80%;
}

.allow-new-line {
  white-space: pre-wrap;
}

.buttons {
  display: flex;
  gap: 1em;
}

.save,
.new,
.delete {
  cursor: pointer;
  max-width: 60px;
  height: auto;

  padding: 0.5em;
  border: var(--save-color) solid 1px;
  border-radius: 5px;

  text-align: center;
  background-color: var(--save-color);
  color: var(--bg-color-section);
  font-weight: bold;
}

.save:hover {
  background-color: var(--save-color-dark);
  border-color: var(--save-color-dark);
}

.new {
  align-self: center;
  border-color: var(--new-color);
  background-color: var(--new-color);
}

.new:hover {
  background-color: var(--new-color-dark);
  border-color: var(--new-color-dark);
}

.delete {
  border-color: var(--delete-color);
  background-color: var(--delete-color);
}

.delete:hover {
  border-color: var(--delete-color-dark);
  background-color: var(--delete-color-dark);
}

@media (max-width: 800px) {
  main {
    flex-wrap: wrap;
  }

  input,
  textarea {
    max-width: 70%;
  }
}

@media (max-width: 500px) {
  main {
    margin: 5px;
  }

  .cv-body {
    padding: 5px;
  }

  .info-container > p {
    font-size: 14px;
  }

  input,
  textarea {
    max-width: 90%;
  }
}
