* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2d334a;
  background-color: #dcf1ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color: #272343;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-section,
.item-container {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: #fffe;
  border-radius: 10px;
}

.form-section {
  max-width: 700px;
  width: 500px;
}

.item {
  max-width: 500px;
  width: 400px;
}

.expand-button,
.expand-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #fffe;
  border: 0;
  cursor: pointer;
}

.expand-button > h2 {
  margin-left: 1em;
}

.expand-item {
  text-align: center;
}

.form-section-body,
.item-body {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
  opacity: 1;
  height: fit-content;
}

.hide {
  display: none;
}

form {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.cv-result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: #272343 solid 2px;
  max-width: 1000px;
  width: 800px;
}

.cv-header {
  text-align: center;
  color: #ffff;
  align-self: center;
  background-color: #272343;
  width: 100%;
}

.cv-body {
  padding: 0px 20px 0px 20px;
}

.cv-header > h1 {
  color: #ffff;
  font-size: 54px;
}

.cv-section-header {
  border-bottom: #272343 solid 1px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.cv-education {
  margin-bottom: 2em;
}

.cv-contact {
  display: flex;
  justify-content: space-around;
}

fieldset {
  max-width: 100%;
  padding: 1rem;
  border-color: #272343;
  display: flex;
  flex-direction: column;
}

fieldset:not(:first-child) {
  margin-top: 1.5em;
}

legend {
  font-size: 24px;
  padding: 0px 5px 0px 5px;
}

label {
  font-weight: bold;
}

input {
  margin-bottom: 1em;
  padding: 5px;
  max-width: 50%;
}

.buttons {
  display: flex;
  gap: 1em;
}

.save,
.new,
.delete {
  cursor: pointer;
  max-width: 60px;
  height: auto;

  padding: 0.5em;
  border: #0066ff solid 1px;
  border-radius: 5px;

  text-align: center;
  background-color: #0054d3;
  color: #fffe;
  font-weight: bold;
}

.new {
  align-self: center;
  border-color: #575757;
  background-color: #575757;
}

.delete {
  border-color: #b13527;
  background-color: #b13527;
}
